.div_form {
    text-align: center;
    padding-top: 1.158748551564311vh;
}

.div_form input {
    padding: 0.6952491309385863vh 0.46875vw;
    border-radius: 10%;
}

.div_form button {
    margin-left: 0.78125vw;
    padding: 0.6952491309385863vh 0.78125vw;
    cursor: pointer;
}