.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: gray ;
    height: 50px;
}

.Header a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    margin: 0 10px;
}

.Header a:hover {
    text-decoration: underline;
    color: blue;

}

.Header a[class='active'] {
    color: red;
}


.navigate_container {
    width: 350px
}


.change_background {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.button_search {
    font-size: 24px;
    outline: none;
    border: 0;
    background: transparent;
    border-radius: 40%;
    margin-top: 5px;

}

